@import "tailwindcss";

body {
  color: #333;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
}

body {
  /* font-family: __Archivo_2aad3c', '__Archivo_Fallback_2aad3c; */
  background: #fff;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 40s linear infinite;
  width: fit-content;
}

.animate-scroll:hover {
  animation-play-state: paused;
}
